body{
    margin: 0;
    padding: 0;
}

.main-container {
 margin: 80px 60px;
}

/* side nav style */

.res-btn{
    display: none !important;
}

.smt-side-nav {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 370px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.smt-side-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    padding-left: 0;
    margin: 0 auto;
}

.smt-side-nav ul li {
    list-style: none;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    cursor: pointer;
}

.smt-side-nav ul li a,
.listing-count {
    text-decoration: none;
    color: gray;
    font-size: 14px;
    font-weight: 500;
}



.smt-side-nav ul li:hover {
    background-color: lightgray;
    transition: background-color 1s ease;
    border-radius: 4px;
}


.smt-side-nav ul li:hover a {
    color: black;
}

.dashboard-submit-btn {
    border: 2px solid gray;
    font-size: 18px;
    font-weight: 600;
    background-color: gray;
    color: white;
    padding: 6px 1px;
    margin: 2px 8px;
    border-radius: 5px;
}

.dashboard-submit-btn:hover {
    border: 2px solid gray;
    background-color: transparent;
    color: gray;
    transition: all 0.8s ease;
}

.dashboard-logout-btn {
    border: 2px solid rgb(195, 77, 50);
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    color: rgb(195, 77, 50);
    padding: 4px 1px;
    margin: 2px 8px;
    border-radius: 5px;
}

.dashboard-logout-btn:hover {
    border: 2px solid rgb(195, 77, 50);
    background-color: rgb(195, 77, 50);
    color: white;
    transition: all 0.8s ease;
}




/* My Listing */
.search-listing-input {
    background-color: rgba(232, 232, 232, 0.855) !important;
    border: none !important;
}

input[type=search] {
    box-sizing: border-box !important;
    border: 3px solid transparent !important;
    outline: none !important;
}

input[type=search]:focus {
    border: 3px solid transparent !important;
}

.smt-nav-listing li a {
    font-weight: 500;
    padding: 15px !important;
}

.smt-nav-listing li a:hover {
    text-decoration: underline;
    text-underline-offset: 27px;
    text-decoration-thickness: 2px;
    transition: all 1s ease;
}

.active {
    text-decoration: underline !important;
    text-underline-offset: 27px !important;
    text-decoration-thickness: 2px !important;
}

.active-route {
    color: blue !important;
    background-color: skyblue !important;
}

.publish,
.pending,
.expired {
    display: none;
}


.table-content th {
    font-size: 12px;
    color: rgb(162, 162, 162) !important;
    padding-bottom: 25px !important;
    padding-top: 25px !important;
    border-top: 1px solid rgb(166, 166, 166);
}

.my-listing-table-content {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    padding-left: 20px !important;
    font-size: 15px;
    color: rgb(97, 97, 97) !important;
}

.my-listing-table-third-row {
    height: 70px;
    width: 100%;
    border-bottom: none;
}

/* My Profile */
.smt-main-section{
    margin-left: 24px !important;
}

.smt-my-profile-area{
   margin-left: 14px;
   margin-right: 14px;
}

.form-box {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0;
}

.social-profile-header {
    font-size: 18px;
}

.form-dashboard-button {
    border: 2px solid rgb(94, 94, 94);
    background-color: rgb(94, 94, 94);
    border-radius: 4px;
    color: white;
    width: 100%;
    font-size: 16px;
}

.form-dashboard-button:hover {
    border: 2px solid rgb(186, 186, 186);
    background-color: rgb(186, 186, 186);
    color: black;
    transition: background 1s ease;
}

.select-photo {
    padding-top: 60px;
}

.user-image {
    width: 100px;
    height: 100px;
}

/* favorite list style */

.favorite-list-content {
    padding: 30px 20px;
    color: rgb(152, 151, 151);
    font-size: 15px;
}

/* announcement page */

.smt-my-announcement {
    padding: 30px 20px;
    color: rgb(152, 151, 151);
    font-size: 15px;
}

/* .menuItem{
    display: none;
} */

/* responsive style */

@media only screen and (max-width: 1160px) {
    .smt-my-profile {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .select-photo {
        margin-bottom: 20px;
    }
    .form-box{
        width: 80% !important;
        padding: 0;
    }

    .smt-main-section{
        margin-left: 0px !important;
    }
    .smt-my-profile-area{
        margin-left: 0px
     }

     .side-menu-container{
        display: none !important;
     }
     .smt-side-nav{
        display: none !important;
     }

     .res-btn{
        display: block !important;
        width: 40px;
        height: 40px;
        margin-right: 20px;
        color: gray;
        cursor: pointer;
    }
    .smt-side-nav {
        display: none !important;
    }
}

@media only screen and (max-width: 720px) and (min-width: 400px) {
    .form-box{
        width: 95% !important;
        padding: 0;
    }
    .smt-main-section{
        margin-left: 0px !important;
    }
    .smt-my-profile-area{
        margin-left: 0;
     }
     .smt-side-nav {
        display: none !important;

    }
    .res-btn{
        display: block !important;
        width: 40px;
        height: 40px;
        margin-right: 20px;
        color: gray;
        cursor: pointer;
    }
}
